body,
html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  width: 100%;
}
* {
  box-sizing: border-box;
}
h1,
p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 1;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}

/* Search box styling  */

/* ::selection {
   background: #212129;
} */

.search-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    /* top:50%; */
    left:50%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {    
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:450px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #FE5F55;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

/* Popup styling */

.close {
  position:absolute;
  top:10px;
  font-size:16px;
  right:5px;
  color:#999;
  cursor:pointer;
  background:none;
  border:none;
}

.btn {
  border-radius: 2px;
  border: none;
  position:absolute;
  top:50%;
  left:50%;
  outline:0;
  margin-top:-15px;
  margin:-15px auto 0 -100px;
  cursor:pointer;
  background: #4975a6;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  padding: 10px 5px;
  text-align: center;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  width: 200px;
  display: block;
  font-family:montserrat, arial, sans-serif;
  overflow: hidden
}

.btn:hover {
  background:#5082B9;
}

/**
 *	Custom Modal
 */

.modal-frame {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:50;
	visibility:hidden;
} 

.modal-body {
	/* top:0;right:0;bottom:0;left:0; */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* width: 80%; */
  

  /* width:500px; */
	border-radius:3px;
	background:#FFF;
	position:absolute;
	/* left:50%;
	margin-left:-250px;
	height:400px;
	margin-top:-200px;
	top:50%; */
	z-index:100;
}


.modal-inner {
	padding:50px;
	opacity:0;
	-webkit-transform:scale(.5);
	-webkit-transition:.2s ease-in-out;
	-moz-transform:scale(.5);
	-moz-transition:.2s ease-in-out;
	-ms-transform:scale(.5);
	-ms-transition:.2s ease-in-out;
	-o-transform:scale(.5);
	-o-transition:.2s ease-in-out;
	transform:scale(.5);
	transition:.2s ease-in-out;
}


/**
 *  Modal overlay
*/

.modal-overlay {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  visibility:hidden;
  opacity:0;
  background:#333;
  -webkit-transition:.15s ease-in-out;
  -moz-transition:.15s ease-in-out;
  -ms-transition:.15s ease-in-out;
  -o-transition:.15s ease-in-out;
  transition:.15s ease-in-out;
}

.modal-inner {
  -webkit-transform:scale(.95);
  -moz-transform:scale(.95);
  -ms-transform:scale(.95);
  -o-transform:scale(.95);
  transform:scale(.95);
}

/**
 *  Enter states
 */

.modal-frame.active {
  visibility:visible;
  height:inherit;
  display:block;
}

.modal-frame.active .modal-body {
  /* -webkit-animation: popperIn .45s;
  -moz-animation: popperIn .45s;
  -ms-animation: popperIn .45s;
  -o-animation: popperIn .45s;
  animation: popperIn .45s; */
}

@-webkit-keyframes popperIn {
  0% {
    opacity:0;
    -webkit-transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    -webkit-transform:scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity:0;
    -moz-transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    -moz-transform:scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity:0;
    transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    transform:scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity:1;
    -webkit-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -webkit-transform:scale(1.05);
  }
  
  100% {
    opacity:0;
    -webkit-transform:scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity:1;
    -moz-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -moz-transform:scale(1.05);
  }
  
  100% {
    opacity:0;
    -moz-transform:scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity:1;
    transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    transform:scale(1.05);
  }
  
  100% {
    opacity:0;
   transform:scale(1.15);
  }
}

.modal-frame.active .modal-inner {
	opacity:1;
	/* -webkit-transform: scale(1);
	-webkit-transition:.15s ease-in-out;
	-webkit-transition-delay:.13s;
	-moz-transform: scale(1);
	-moz-transition:.15s ease-in-out;
	-moz-transition-delay:.13s;
	-ms-transform: scale(1);
	-ms-transition:.15s ease-in-out;
	-ms-transition-delay:.13s;
	-o-transform: scale(1);
	-o-transition:.15s ease-in-out;
	-o-webkit-transition-delay:.13s;
	transform: scale(1);
	transition:.15s ease-in-out;
	transition-delay:.13s; */
  
}

.modal-frame.active .modal-overlay {
  opacity:.5;
  visibility:visible;
}

/**
 *  Leave States
*/
.modal-frame.leave .modal-body {
	opacity:0;
	/* -webkit-animation: popperOut .5s;
	-webkit-transition:.3s ease-in-out;
	-webkit-transition-delay:.2s;
	-webkit-transform:scale(.95);
	-moz-animation: popperOut .5s;
	-moz-transition:.3s ease-in-out;
	-moz-transition-delay:.2s;
	-moz-transform:scale(.95);
	-ms-animation: popperOut .5s;
	-ms-transition:.3s ease-in-out;
	-ms-transition-delay:.2s;
	-ms-transform:scale(.95);
	animation: popperOut .5s;
	transition:.3s ease-in-out;
	transition-delay:.2s;
	transform:scale(.95); */
}

.modal-frame.leave .modal-inner {
	opacity:0;
	/* -webkit-transform:scale(.95);
	-webkit-transition:.15s ease-in-out;
	-moz-transform:scale(.95);
	-moz-transition:.15s ease-in-out;
	-ms-transform:scale(.95);
	-ms-transition:.15s ease-in-out;
	-o-transform:scale(.95);
	-o-transition:.15s ease-in-out;
	transform:scale(.95);
	transition:.15s ease-in-out; */
}