@keyframes a{0%{fill-opacity:0;stroke-dashoffset:38321}
25%{fill-opacity:0;stroke:#9b4dca}
to{fill-opacity:1;stroke-dashoffset:0}
}@keyframes b{0%,50%{transform:rotate(0)}
25%,75%{transform:rotate(-25deg)}
}button,hr,input{overflow:visible}
progress,sub,sup{vertical-align:baseline}
[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}
html{-webkit-text-size-adjust:100%;line-height:1.15;box-sizing:border-box;font-size:62.5%}
body{margin:0;font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:1.6em;font-weight:300;letter-spacing:.01em;line-height:1.6;padding-bottom:30px;background:#202020}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0;border:0;border-top:.1rem solid #f4f5f6;margin:3rem 0}
code,kbd,pre,samp{font-family:monospace,monospace}
kbd,pre,samp{font-size:1em}
a{background-color:transparent;color:#9b4dca;text-decoration:none}
abbr[title]{border-bottom:0;text-decoration:underline dotted}
b,strong{font-weight:700}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none;max-width:100%}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
select{text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border-width:0;padding:0}
legend{color:inherit;display:table;max-width:100%;white-space:normal}
textarea{overflow:auto}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
br,details{display:block}
summary{display:list-item}
[hidden],template{display:none}
/*,:after,:before{box-sizing:inherit}*/
br{line-height:1px;margin:5px 0}
blockquote{border-left:.3rem solid #d1d1d1;margin-left:0;margin-right:0;padding:1rem 1.5rem}
blockquote :last-child{margin-bottom:0}
.button,button,input[type=button],input[type=reset],input[type=submit]{background-color:#9b4dca;border:.1rem solid #9b4dca;border-radius:.4rem;color:#fff;cursor:pointer;display:inline-block;font-size:1.1rem;font-weight:700;height:3.8rem;letter-spacing:.1rem;line-height:3.8rem;padding:0 3rem;text-align:center;text-decoration:none;text-transform:uppercase;white-space:nowrap}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{background-color:#606c76;border-color:#606c76;color:#fff;outline:0}
.button[disabled],button[disabled],input[type=button][disabled],input[type=reset][disabled],input[type=submit][disabled]{cursor:default;opacity:.5}
.button[disabled]:focus,.button[disabled]:hover,button[disabled]:focus,button[disabled]:hover,input[type=button][disabled]:focus,input[type=button][disabled]:hover,input[type=reset][disabled]:focus,input[type=reset][disabled]:hover,input[type=submit][disabled]:focus,input[type=submit][disabled]:hover{background-color:#9b4dca;border-color:#9b4dca}
.button.button-outline,button.button-outline,input[type=button].button-outline,input[type=reset].button-outline,input[type=submit].button-outline{background-color:transparent;color:#9b4dca}
.button.button-outline:focus,.button.button-outline:hover,button.button-outline:focus,button.button-outline:hover,input[type=button].button-outline:focus,input[type=button].button-outline:hover,input[type=reset].button-outline:focus,input[type=reset].button-outline:hover,input[type=submit].button-outline:focus,input[type=submit].button-outline:hover{background-color:transparent;border-color:#606c76;color:#606c76}
.button.button-outline[disabled]:focus,.button.button-outline[disabled]:hover,button.button-outline[disabled]:focus,button.button-outline[disabled]:hover,input[type=button].button-outline[disabled]:focus,input[type=button].button-outline[disabled]:hover,input[type=reset].button-outline[disabled]:focus,input[type=reset].button-outline[disabled]:hover,input[type=submit].button-outline[disabled]:focus,input[type=submit].button-outline[disabled]:hover{border-color:inherit;color:#9b4dca}
.button.button-clear,button.button-clear,input[type=button].button-clear,input[type=reset].button-clear,input[type=submit].button-clear{background-color:transparent;border-color:transparent;color:#9b4dca}
.button.button-clear:focus,.button.button-clear:hover,button.button-clear:focus,button.button-clear:hover,input[type=button].button-clear:focus,input[type=button].button-clear:hover,input[type=reset].button-clear:focus,input[type=reset].button-clear:hover,input[type=submit].button-clear:focus,input[type=submit].button-clear:hover{background-color:transparent;border-color:transparent;color:#606c76}
.button.button-clear[disabled]:focus,.button.button-clear[disabled]:hover,button.button-clear[disabled]:focus,button.button-clear[disabled]:hover,input[type=button].button-clear[disabled]:focus,input[type=button].button-clear[disabled]:hover,input[type=reset].button-clear[disabled]:focus,input[type=reset].button-clear[disabled]:hover,input[type=submit].button-clear[disabled]:focus,input[type=submit].button-clear[disabled]:hover{color:#9b4dca}
code,pre{background:#f4f5f6}
code{border-radius:.4rem;font-size:86%;margin:0 .2rem;padding:.2rem .5rem;white-space:nowrap}
pre{border-left:.3rem solid #9b4dca;overflow-y:hidden}
pre>code{border-radius:0;display:block;padding:1rem 1.5rem;white-space:pre}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{-moz-appearance:none;-webkit-appearance:none;appearance:none;background-color:transparent;border:.1rem solid #d1d1d1;border-radius:.4rem;box-shadow:none;box-sizing:inherit;height:3.8rem;padding:.6rem 1rem;width:100%}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border-color:#9b4dca;outline:0}
select{background:url('data:image/svg+xml;utf8,<svgxmlns="http://www.w3.org/2000/svg"height="14"viewBox="002914"width="29"><pathfill="#d1d1d1"d="M9.377273.625l5.081546.93523L19.540363.625"/></svg>') 100% no-repeat;padding-right:3rem}
select:focus{background-image:url('data:image/svg+xml;utf8,<svgxmlns="http://www.w3.org/2000/svg"height="14"viewBox="002914"width="29"><pathfill="#9b4dca"d="M9.377273.625l5.081546.93523L19.540363.625"/></svg>')}
textarea{min-height:6.5rem}
label,legend{display:block;font-size:1.6rem;font-weight:700;margin-bottom:.5rem}
input[type=checkbox],input[type=radio]{display:inline}
.label-inline{display:inline-block;font-weight:400;margin-left:.5rem}
.container{margin:0 auto;max-width:112rem;padding:0 2rem;position:relative;width:100%}
.row{display:flex;flex-direction:column;width:100%}
.row,.row.row-no-padding,.row.row-no-padding>.column{padding:0}
.row.row-wrap{flex-wrap:wrap}
.row.row-top{align-items:flex-start}
.row.row-bottom{align-items:flex-end}
.row.row-center{align-items:center}
.row.row-stretch{align-items:stretch}
.row.row-baseline{align-items:baseline}
.row .column{display:block;flex:1 1 auto;margin-left:0;max-width:100%;width:100%}
.row .column.column-offset-10{margin-left:10%}
.row .column.column-offset-20{margin-left:20%}
.row .column.column-offset-25{margin-left:25%}
.row .column.column-offset-33,.row .column.column-offset-34{margin-left:33.3333%}
.row .column.column-offset-50{margin-left:50%}
.row .column.column-offset-66,.row .column.column-offset-67{margin-left:66.6666%}
.row .column.column-offset-75{margin-left:75%}
.row .column.column-offset-80{margin-left:80%}
.row .column.column-offset-90{margin-left:90%}
.row .column.column-10{flex:0 0 10%;max-width:10%}
.row .column.column-20{flex:0 0 20%;max-width:20%}
.row .column.column-25{flex:0 0 25%;max-width:25%}
.row .column.column-33,.row .column.column-34{flex:0 0 33.3333%;max-width:33.3333%}
.row .column.column-40{flex:0 0 40%;max-width:40%}
.row .column.column-50{flex:0 0 50%;max-width:50%}
.row .column.column-60{flex:0 0 60%;max-width:60%}
.row .column.column-66,.row .column.column-67{flex:0 0 66.6666%;max-width:66.6666%}
.row .column.column-75{flex:0 0 75%;max-width:75%}
.row .column.column-80{flex:0 0 80%;max-width:80%}
.row .column.column-90{flex:0 0 90%;max-width:90%}
.row .column .column-top{align-self:flex-start}
.row .column .column-bottom{align-self:flex-end}
.row .column .column-center{-ms-grid-row-align:center;align-self:center}
@media(min-width:40rem){.row{flex-direction:row;margin-left:-1rem;width:calc(100%+2rem)}
.row .column{margin-bottom:inherit;padding:0 1rem}
}a:focus,a:hover{color:#606c76}
dl{list-style:none}
dl,ol,ul{margin-top:0;padding-left:0}
dl dl,dl ol,dl ul,ol dl,ol ol,ol ul,ul dl,ul ol,ul ul{font-size:90%;margin:1.5rem 0 1.5rem 3rem}
ol{list-style:decimal inside}
ul{list-style:circle inside}
.button,button,dd,dt,li{margin-bottom:1rem}
fieldset,input,select,textarea{margin-bottom:1.5rem}
blockquote,dl,figure,form,ol,p,pre,table,ul{margin-bottom:2.5rem}
table{border-spacing:0;width:100%}
td,th{border-bottom:.1rem solid #e1e1e1;padding:1.2rem 1.5rem;text-align:left}
td:first-child,th:first-child{padding-left:0}
td:last-child,th:last-child{padding-right:0}
p{line-height:1.4em;margin-top:0}
h1,h2,h3,h6{letter-spacing:-.1rem}
h1,h2,h3,h4,h5,h6{font-weight:300;margin-bottom:2rem;margin-top:0}
h1{font-size:4.6rem;line-height:1.2}
h2{font-size:3.6rem;line-height:1.25}
h3{font-size:2.8rem;line-height:1.3}
h4{font-size:2.2rem;letter-spacing:-.08rem;line-height:1.35}
h5{font-size:1.8rem;letter-spacing:-.05rem;line-height:1.5}
h6{font-size:1.6rem;letter-spacing:0;line-height:1.4}
.clearfix:after{clear:both;content:" ";display:table}
.float-left{float:left}
.float-right{float:right}
.column.column-28{flex:0 0 28%;max-width:28%}
@media(max-width:30rem){.column{flex:0 0 100%!important;max-width:100%!important;text-align:left!important}
}.align-right{text-align:right}
.wrapper{display:block;overflow:hidden;position:relative;width:100%}
.wrapper>.container{padding-top:2rem}
.header{padding-top:1rem}
@media(min-width:40rem){.header{padding-top:5rem}
}.header+section{border-top:0}
.header .container{border-top:0;padding-bottom:7.5rem;padding-top:7.5rem;position:relative;text-align:center}
.header .title{font-family:Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif}
.header .img{height:15rem;margin-bottom:2rem}
.header .img path{animation:7s a forwards;fill:#9b4dca;stroke:#9b4dca;stroke-dasharray:38321;stroke-miterlimit:10;stroke-width:15px}
.header .button{margin-bottom:4rem;margin-top:2rem}
@media(min-width:40rem){.header .button{margin-bottom:4rem;margin-top:2rem}
}.navigation{background:#f4f5f6;display:block;height:5.2rem;left:0;max-width:100%;width:100%}
.navigation .container{padding-bottom:0;padding-top:0}
.navigation .navigation-list{list-style:none;margin-bottom:0}
@media(min-width:80rem){.navigation .navigation-list{margin-right:0}
}.navigation .navigation-item{float:left;margin-bottom:0;margin-left:2.5rem;position:relative}
.navigation .img{fill:#9b4dca;height:2rem;position:relative;top:.3rem}
.navigation .navigation-title{color:#606c76;position:relative}
.navigation .title{position:relative}
.navigation .navigation-link,.navigation .navigation-title,.navigation .title{display:inline;font-size:1.6rem;line-height:5.2rem;padding:0;text-decoration:none}
.navigation .navigation-link.active{color:#606c76}
.popover{background:#fff;border:.1rem solid #d1d1d1;border-radius:.4rem;display:none;filter:drop-shadow(0 0 .6rem rgba(0,0,0,.1));left:50%;min-width:13.4rem;position:absolute;top:94%;transform:translateX(-50%)}
.popover.popover-open{display:block}
.popover:after,.popover:before{border:1rem solid transparent;content:" ";height:0;left:50%;pointer-events:none;position:absolute;right:1.7rem;top:0;width:0}
.popover:after{border-bottom-color:#fff;transform:translate(-50%,-100%)}
.popover:before{border-bottom-color:#d1d1d1;transform:translate(-50%,-102%)}
.popover .popover-list{list-style:none;margin:0;padding:0}
.popover .popover-item{margin:0;padding:0}
.popover .popover-item:first-child .popover-link{border-radius:.4rem .4rem 0 0}
.popover .popover-item:last-child .popover-link{border-bottom-width:0;border-radius:0 0 .4rem .4rem}
.popover .popover-link{border-bottom:.1rem solid #d1d1d1;color:#606c76;display:block;font-size:1.2rem;padding:.8rem 2rem;position:relative;text-align:center;text-decoration:none}
.popover .popover-link:hover{background:#9b4dca;border-bottom-color:#9b4dca;color:#fff}
@media(min-width:40rem){.only-mobile{display:none}
}.popover-item{z-index:10}
.navigation .title,.navigation-title,body{color:#b9b9b9}
input:-ms-input-placeholder,input::-moz-placeholder,input::-webkit-input-placeholder,input::placeholder{color:#b9b9b9;opacity:1}
input,input:focus,select,textarea,textarea:focus{color:#9b4dca!important}
.navigation{background:#292c33;border-bottom:.1rem solid #1b1c1d}
.buttonHover{background-color:#606c76;border-color:#606c76;color:#fff;outline:0}
input[type=file]{cursor:pointer}
.header{background-color:#141518}
code,pre{background:#141518}
.prettyprint{color:#b9b9b9}
.prettyprint.lang-md *,select{color:#b9b9b9!important}
.prettyprint .atv{color:#499edf}
.option{color:#000!important}