.close {
  position:absolute;
  top:10px;
  font-size:16px;
  right:5px;
  color:#999;
  cursor:pointer;
  background:none;
  border:none;
}

.btn {
  border-radius: 2px;
  border: none;
  position:absolute;
  top:50%;
  left:50%;
  outline:0;
  margin-top:-15px;
  margin:-15px auto 0 -100px;
  cursor:pointer;
  background: #4975a6;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  padding: 10px 5px;
  text-align: center;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  width: 200px;
  display: block;
  font-family:montserrat, arial, sans-serif;
  overflow: hidden
}

.btn:hover {
  background:#5082B9;
}

/**
 *	Custom Modal
 */

.modal-frame {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:50;
	visibility:hidden;
} 

.modal-body {
	/* top:0;right:0;bottom:0;left:0; */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* width: 80%; */
  

  /* width:500px; */
	border-radius:3px;
	background:#FFF;
	position:absolute;
	/* left:50%;
	margin-left:-250px;
	height:400px;
	margin-top:-200px;
	top:50%; */
	z-index:100;
}


.modal-inner {
	padding:50px;
	opacity:0;
	-webkit-transform:scale(.5);
	-webkit-transition:.2s ease-in-out;
	-moz-transform:scale(.5);
	-moz-transition:.2s ease-in-out;
	-ms-transform:scale(.5);
	-ms-transition:.2s ease-in-out;
	-o-transform:scale(.5);
	-o-transition:.2s ease-in-out;
	transform:scale(.5);
	transition:.2s ease-in-out;
}


/**
 *  Modal overlay
*/

.modal-overlay {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  visibility:hidden;
  opacity:0;
  background:#333;
  -webkit-transition:.15s ease-in-out;
  -moz-transition:.15s ease-in-out;
  -ms-transition:.15s ease-in-out;
  -o-transition:.15s ease-in-out;
  transition:.15s ease-in-out;
}

.modal-inner {
  -webkit-transform:scale(.95);
  -moz-transform:scale(.95);
  -ms-transform:scale(.95);
  -o-transform:scale(.95);
  transform:scale(.95);
}

/**
 *  Enter states
 */

.modal-frame.active {
  visibility:visible;
  height:inherit;
  display:block;
}

.modal-frame.active .modal-body {
  /* -webkit-animation: popperIn .45s;
  -moz-animation: popperIn .45s;
  -ms-animation: popperIn .45s;
  -o-animation: popperIn .45s;
  animation: popperIn .45s; */
}

@-webkit-keyframes popperIn {
  0% {
    opacity:0;
    -webkit-transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    -webkit-transform:scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity:0;
    -moz-transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    -moz-transform:scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity:0;
    transform:scale(1.06);
  }
  40% { opacity:1; }
 
  100% {
    transform:scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity:1;
    -webkit-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -webkit-transform:scale(1.05);
  }
  
  100% {
    opacity:0;
    -webkit-transform:scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity:1;
    -moz-transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    -moz-transform:scale(1.05);
  }
  
  100% {
    opacity:0;
    -moz-transform:scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity:1;
    transform:scale(1);
  }
  30% { opacity:1; }
  40% {
    transform:scale(1.05);
  }
  
  100% {
    opacity:0;
   transform:scale(1.15);
  }
}

.modal-frame.active .modal-inner {
	opacity:1;
	/* -webkit-transform: scale(1);
	-webkit-transition:.15s ease-in-out;
	-webkit-transition-delay:.13s;
	-moz-transform: scale(1);
	-moz-transition:.15s ease-in-out;
	-moz-transition-delay:.13s;
	-ms-transform: scale(1);
	-ms-transition:.15s ease-in-out;
	-ms-transition-delay:.13s;
	-o-transform: scale(1);
	-o-transition:.15s ease-in-out;
	-o-webkit-transition-delay:.13s;
	transform: scale(1);
	transition:.15s ease-in-out;
	transition-delay:.13s; */
  
}

.modal-frame.active .modal-overlay {
  opacity:.5;
  visibility:visible;
}

/**
 *  Leave States
*/
.modal-frame.leave .modal-body {
	opacity:0;
	/* -webkit-animation: popperOut .5s;
	-webkit-transition:.3s ease-in-out;
	-webkit-transition-delay:.2s;
	-webkit-transform:scale(.95);
	-moz-animation: popperOut .5s;
	-moz-transition:.3s ease-in-out;
	-moz-transition-delay:.2s;
	-moz-transform:scale(.95);
	-ms-animation: popperOut .5s;
	-ms-transition:.3s ease-in-out;
	-ms-transition-delay:.2s;
	-ms-transform:scale(.95);
	animation: popperOut .5s;
	transition:.3s ease-in-out;
	transition-delay:.2s;
	transform:scale(.95); */
}

.modal-frame.leave .modal-inner {
	opacity:0;
	/* -webkit-transform:scale(.95);
	-webkit-transition:.15s ease-in-out;
	-moz-transform:scale(.95);
	-moz-transition:.15s ease-in-out;
	-ms-transform:scale(.95);
	-ms-transition:.15s ease-in-out;
	-o-transform:scale(.95);
	-o-transition:.15s ease-in-out;
	transform:scale(.95);
	transition:.15s ease-in-out; */
}
