html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 0;
}

.bar {
  word-wrap: normal;
  overflow: hidden;
}

a {
  color: #b881d9
}

.columnar_50 {
  min-width: 50%;
  padding: 1rem;
}

.columnar_33 {
  min-width: 33%;
  padding: 1rem;
}

pre, code {
  background: #2b2b2b;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.dropzone {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);

  z-index: 1000;
}

.dropzone_text {
  color: #ffffff;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 200%;

  z-index: 1500;
}


.comment {
  color: grey;
}

input, select, textarea{
    color: #9b4dca !important;
}

textarea:focus, input:focus {
    color: #9b4dca !important;
}

h4 {
  margin-bottom: 0rem;
}

.link {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.end_padding {
  height: 50px;
}